*{
    color : white;
}

.lineItem {
    background-color: grey;
    border: 10px solid transparent;
    color: white;
    position: absolute;
    border-radius: 10px;
}

.lineItem.selected{
   border : 10px solid black;
}

.lineItem.dont-show{
    border-width : 0px;
    opacity: 0;
}

span.desc {
    float: left;
    clear: both;
    font-size: 125%;
    font-weight: bold;
}

span.price {
    float: right;
    font-size: 150%;
    font-weight: bold;
    /*clear : both;*/
}

img {
    width: 100%;
}

button {
    font-size: 3vh;
}

.receipt-side {
    position: relative;
    width: 100%;
    left: 0%;
}

.receipt-wrapper{
    width : 100%; 
    height: 50%; 
    float: left;
    border-bottom: 5px solid white;
}
.people-side {
    position: relative;
    width: 100%;
}

.people-list-wrapper{
    width : 50%;  
    height: 50%; 
    float: left;
    border-right: 5px solid white;
}

.camera-button{
    border-radius:100%;
    position : relative;
    bottom : -15%;
}

.navbar-absolute-bottom{
    background-color: rgba(0,0,0,0);
    border-width : 0px;
}

.modal *{
    color : black;
}

.modal-title{
    color : #007aff;
}